/* Variables
---------------------------------------------------------------------------------------------------- */

//Colors
$black: #000;
$white: #fff;
$green: #22a359;
$yellow: #fde472;
$blue: #3498db;
$white-gray: #fafafa;

$twitter: #4493da;
$facebook: #415893;
$pinterest: #bd081c;

//Dark Theme
$theme-dark__dark: #051622;
$theme-dark__input: #001f33;
$theme-dark__light: #869ba9;
$theme-dark__primary: #1ba098;
$theme-dark__secondary: #deb992;

//Theme One
$theme-one__dark: #4a4a4a;
$theme-one__gray: #e3e3e3;
$theme-one__primary: #c60021;
$theme-one__light: #f6f6f8;

//Theme Two
$theme-two__dark: #555;
$theme-two__primary: #5e7b6e;
$theme-two__secondary: #f2d349;
$theme-two__light: #f8f8f8;

//Typography
$base-font-family: 'Roboto', sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;
$base-line-height: 1.75;

$font__weight-bold: 900;

$header-font-family: 'Lora', serif;


//Spacing
$size__spacing-unit: 30px;


// Breakpoint widths.
$mobile_width: 480px;
$tablet_width: 780px;
$desktop_width: 940px;
$wpadmin_width: 782px;

