
/* Base Forms
---------------------------------------------------------------------------------------------------- */
  
// Base input style.

input {
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  color: $black;
}

input,
textarea,
select {
  border-bottom: 1px solid rgba($black, .05);
  font-size: 12px;
  line-height: 1.45;
  position: relative;
  padding: 12px 0 0 0;
  margin: 0;
  transition-duration: 0.25s;
  -webkit-appearance: none;
  background: none;
  border-radius: 0;
}

input,
select {
  height: 40px;
}

// Placeholder style.

input,
textarea {
  &::placeholder {
    color: rgba($black, .5);
    transition-duration: 0.25s;

    // Dark placeholder style.
    .dark & {
      color: rgba($white, .5);
    }
  }

  &:focus {
    color: $black;

    &::placeholder {
      color: rgba($black, 0.25);

      .dark & {
        color: rgba($white, 0.25);
      }
    }

    .dark & {
      color: $white;
    }
  }
}

// Field labels.

label {
  font-size: 12px;
  font-weight: $font__weight-bold;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  float: left;
}


/* Form Groups: Checkout, Comments, Login, etc.
---------------------------------------------------------------------------------------------------- */

.forms {
  form {
    margin-bottom: 7px;
  
    .row {
      margin-bottom: 40px;
  
      // Type styling.
  
      header {
        margin-bottom: 23px;
  
        h3 {
          font-size: 18px;
          font-weight: 900;
        }
        
        p {
          font-size: 14px;
        }
      }
  
      // Field grouping.
  
      .group {
        width: 100%;
        float: left;
        position: relative;
        margin: 0 0 30px -25px;
        border: 1px solid rgba($black, .05);
        border-radius: 3px;
  
        &:last-of-type {
          margin-bottom: 9px;
        }
        
        // Field group styling.
  
        .fields {
          float: left;
          padding: 24px 25px;
          position: relative;
          
          // Filed sizing.
          
          &.whole {
            width: 100%;
          }
  
          &.three-quarters {
            width: 75%;
          }
  
          &.half {
            width: 50%;
          }
  
          &.third {
            width: 33.333%;
          }
  
          &.quarter {
            width: 25%;
          }
          
          // Field positioning.
          
          &.precedes.bottom {
            border-bottom: 1px solid rgba($black, .05);
          }
  
          &.precedes.right {
            border-right: 1px solid rgba($black, .05);
          }
  
          &.card-type {
            background-size: 40px;
            background-repeat: no-repeat;
            background-position: top 25px right 25px;
          }
          
          // Field labels.
  
          label {
            font-size: 12px;
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;
            width: 100%;
            float: left;
          }
          
          // Radio fields.
          
          &.radios {
            line-height: 19px;
            
            label {
              width: 100%;
              height: 100%;
              position: absolute;
              cursor: pointer;
            }
            
            .label {
              float: left;
            }
            
            .meta {
              float: right;
              font-size: 12px;
              font-weight: 900;
            }
            
            input[type=radio] {
              position: absolute;
              visibility: hidden;
            }
    
            .radio {
              width: 19px;
              height: 19px;
              float: left;
              position: relative;
              margin: 0 10px 0 0;
              border: 1px solid rgba($black, .05);
              border-radius: 50%;
              
              &:after {
                width: 13px;
                height: 13px;
                position: absolute;
                top: 2px;
                left: 2px;
                border-radius: 50%;
                content: '';
                transition-duration: 0.25s;
              }
            }
            
            &:hover {
              .radio {
                &:after {
                  background-color: rgba($black, .05);
                }
              }
            }
    
            input[type=radio]:checked ~ .radio {
              background-color: rgba($black, .025);
              border-color: rgba($black, .5);
              
              &:after {
                background-color: $black;
              }
            }
          }
          
          // Text, textarea and select fields.
  
          input,
          textarea,
          select {
            width: 100%;
            height: 40px;
          }
  
          textarea {
            padding-top: 19px;
          }
          
          select {
            cursor: pointer;
          }
        }
  
        // Credit card fields.
  
        &.card {
          background-color: rgba($black, 0.01);
        }
      }
    }
  }
}

// Comment Form
.comment-form {
  max-width: 700px;

  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
  }

  .row {
    border: 1px solid rgba($black, .05);
    padding: 24px 25px;
    border-bottom: none;
  }

  &-url {
    &.row {
      border-bottom: 1px solid rgba($black, .05);
      margin-bottom: 20px;
    }
  }

  .comment-notes {
    margin-bottom: 20px;
  }
}

.comments-title {
  margin: 30px 0;
}
