
/* Menus:
---------------------------------------------------------------------------------------------------- */

.primary-menu {
  border-left: 1px solid $black;
  display: flex;
  align-items: center;
  float: left;
  height: 40px;
  margin: $size__spacing-unit 0 0 $size__spacing-unit;
  position: relative;
  padding-left: $size__spacing-unit;

  &-wrapper {
    @include media(xlarge-max) {
      display: none;
    }

    .showing-menu-modal & {
      display: none;
    }
  }

  & > li {
    margin-right: $size__spacing-unit;

    & > a {
      font-size: 12px;
      font-weight: $font__weight-bold;
    }
  }

  a {
    color: $black;

    &:hover,
    &:focus {
      color: rgba($black, 0.5);
    }
  }

  // /* Sub Menus: Used for the main header menu.
  // ---------------------------------------------------------------------------------------------------- */

  & > li {
    & > .sub-menu {
      background-color: $white-gray;
      border-top: 1px solid rgba($black, .05);
      border-bottom: 1px solid rgba($black, .05);
      display: flex;
      margin-left: -50vw;
      padding: $size__spacing-unit 0 $size__spacing-unit 50vw;
      position: absolute;
      top: 70px;
      width: 200vw;
      z-index: 400;

      // Make top menu item hover more functional
      &:before {
        content: '';
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        top: -40px;
        z-index: 100;
      }

      & > li {
        margin-right: $size__spacing-unit;

        & > .ancestor-wrapper {
          font-weight: $font__weight-bold;
        }
      }
    }
  }

  .menu-item-has-children {
    &:hover,
    &:focus {
      .sub-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .sub-menu {
    opacity: 0;
    visibility: hidden;
    transition: all $fade_transition ease-in;

    .menu {
      margin-bottom: 60px;
    }

    button {
      display: none;
    }
  }
}

// /* Main Menu: Syles shared by both main menu and mobile main menu
// ---------------------------------------------------------------------------------------------------- */

.main-menu {
  & > li {
    & > .ancestor-wrapper {
      & > a {
        font-weight: $font__weight-bold;
        text-transform: uppercase;
      }
    }
  }

  li {
    &.current-menu-item,
    &.current_page_ancestor {
      & > .ancestor-wrapper {
        & > a {
          text-decoration: underline;
        }
      }
    }
  }

  .ancestor-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    a {
      margin-right: $size__spacing-quarter;
    }
  }
}

.menus {
  // Individual menus.

  .menu {

    h3 {
      color: rgba($black, 0.95);
    }

    a {
      color: rgba($black, 0.5);

      &:hover {
        color: rgba($black, 0.95);
      }
    }
  }
}


/* Modal Menu --------------------------------- */

.menu-modal {
  background: $white;
  display: none;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  left: -99999rem;
  right: 99999rem;
  top: 143px + $size__wpadmin-bar-mobile;
  transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
  z-index: 99;

  @include media(wp-admin) {
    top: 143px + $size__wpadmin-bar-desktop;
  }

  &.active {
    display: flex;
    left: 0;
    opacity: 1;
    right: 0;
    transition: opacity 0.25s ease-out;
  }

  .ancestor-wrapper {
    justify-content: space-between;
  }

  .close-nav-toggle {
    background: none;
    position: absolute;
    right: $size__spacing-unit;
    top: 15px;
  }

  &-inner {
    background: $white;
    display: flex;
    justify-content: stretch;
    width: 100%;
  }

  .sub-menu {
    display: none;
    width: 100%;

    &.active {
      display: block;
    }

    &-toggle {
      padding: 0 $size__spacing-unit;
    }
  }

  .social-links-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $size__spacing-half;

    @include media(tablet) {
      display: none;
    }

    a {
      display: block;
      padding: $size__spacing-half;
      margin-right: $size__spacing-half;
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.modal-menu {
  position: relative;
  left: calc(50% - 50vw);
  width: 100vw;

  & > li {
    &:last-child {
      border-bottom: 1px solid rgba($black, .1);
    }
  }

  ul {
    display: none;
    margin: 0;
    width: 100%;
  }

  li {
    border-top: 1px solid rgba($black, .1);
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    justify-content: flex-start;
    margin: 0;
  }

  a {
    display: inline-block;
    padding: $size__spacing-half $size__spacing-unit;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  .sub-menu {
    .sub-menu {
      li {
        border-left: 10px solid $black;
      }
    }
  }
}

.sub-menu-toggle {
  background: none;
  display: flex;
  flex-shrink: 0;

  &.active {
    svg {
      transform: rotate(180deg);
    }
  }

  svg {
    height: $size__spacing-half;
    transition: transform 0.15s linear;
    width: $size__spacing-half;
  }
}

/* Main menu animation ----------------------- */

.menu-wrapper {
  &.is-toggling {
    pointer-events: none;

    .menu-item {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
    }

    .toggling-target {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;

      &.active {
        opacity: 0;
      }
    }

    .modal-menu {
      & > li {
        &:last-child {
          li {
            border-top-color: transparent;
            border-bottom-width: 1px;
          }
        }
      }
    }
  }

  &.is-animating {
    .menu-item,
    .toggling-target {
      transition-duration: 250ms;

      @media (prefers-reduced-motion: reduce) {
        transition-duration: 1ms !important;
      }
    }

    .menu-item {
      transition-property: transform;
    }

    &.is-toggling {
      .toggling-target {
        display: block;
        transition-property: opacity;
        opacity: 0;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .menu-item {
    position: relative;
  }

  .active {
    display: block;
  }
}

