
/* The Header
---------------------------------------------------------------------------------------------------- */

#header {
  background-color: rgba($black, 0.015);
  position: relative;
  z-index: 1000;

  // Add the fadeindown animation.

  animation-name: fadeindown;
  animation-duration: .75s;
  animation-fill-mode: both;

  .showing-menu-modal & {
    margin-top: $size__wpadmin-bar-mobile;

    @include media(wp-admin) {
      margin-top: $size__wpadmin-bar-desktop;
    }
  }

  .row {
    .inner {
      @include media(tablet-max) {
        position: static; // Change position so mobile nav works
      }
    }
  }

  // The upper header bar for social links (left) and user menu (right).

  .bar {
    height: 40px;
    background-color: $black;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    color: $white;
    text-transform: uppercase;

    a {
      color: $white;

      &:hover {
        color: rgba($white, .75);
      }
    }

    // Social linkage.

    .social {
      height: 100%;
      float: left;
      padding-top: 3px;

      a {
        float: left;
        margin-right: 20px;

        &:hover {
          opacity: 0.5;
        }

        svg {
          height: 14px;
          width: 14px;
          fill: $white;
        }
      }

      @include media (tablet-max) {
        display: none;
      }
    }

    #menu-social {
      display: flex;
    }

    // User menu.

    .user {
      float: right;

      a {
        float: left;
        margin-left: 20px;

        span {
          width: 20px;
          height: 20px;
          float: right;
          margin: 10px 0 0 10px;
          background-color: rgba($white, 0.95);
          border-radius: 50%;
          line-height: 20px;
          color: $black;
          font-weight: 900;
          text-align: center;
        }
      }
    }
  }

  // The main header for the logo & main menu (left) and the search field (right).

  .main {
    height: 100px;
    display: flex;

    // Logo & brand.

    .brand {
      height: 40px;
      float: left;
      margin-top: 30px;

      &:hover {
        transform: translateX(-3px);
      }

      .logo,
      img {
        height: 100%;
        float: left;
        fill: $black;
      }

      h1 {
        float: left;
        margin-left: 20px;
        line-height: 40px;
        font-family: $base-font-family;
        font-size: 20px;
        font-weight: 400;
        color: $black;
        text-transform: uppercase;
      }

      .menu {
        display: none;

        //Confirm original was 600px
        @include media(tablet-max) {
          display: block;
          float: left;
          margin: 8px 0 0 10px;
        }
      }
    }
  }
}

.site-branding {
  display: inline-flex;
  align-items: center;
  float: left;
  margin-top: 30px;
  transition: .25s;

  &:hover {
    transform: translateX(-3px);
  }
}

.site-title {
  float: left;
  margin-left: 20px;
  line-height: 40px;
  font-family: $base-font-family;
  font-size: 20px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
}

.site-logo {
  height: 40px;

  img {
    height: 100%;
    min-width: 40px;
    width: auto;
  }
}

.nav-toggle {
  background: none;
}

// Hamburger Button
.menu-toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: $size__spacing-half;

  @include media(xlarge) {
    display: none;
  }

  &:focus {
    //outline: none;
  }

  @include media(tablet) {
    padding: 0 $size__spacing-unit;
  }

  @include media(wide) {
    display: none;
  }

  .showing-menu-modal & {
    .menu-bars {
      background-color: transparent;

      &:before,
      &:after {
        background-color: $black;
      }

      &:before {
        animation: $menu-toggle-top-open;
      }

      &:after {
        animation: $menu-toggle-bottom-open;
      }
    }
  }

  .menu-bars {
    background-color: $black;
    display: block;
    height: $size__hamburger-height;
    position: relative;
    transition-delay: $hamburger_delay;
    width: $size__hamburger-width;

    &:before,
    &:after {
      background-color: $black;
      content: '';
      height: $size__hamburger-height;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &:before {
      animation: $menu-toggle-top-close;
      top: -$size__offsetY;
    }

    &:after {
      animation: $menu-toggle-bottom-close;
      top: $size__offsetY;
    }
  }
}
