
/* The Checkout Page
---------------------------------------------------------------------------------------------------- */

#checkout {
  padding: 100px 0;
  
  // Add the fadeinup animation.
  
  animation-name: fadeinup;
  animation-duration: .75s;
  animation-fill-mode: both;
  
  header {
    margin-bottom: 23px;

    h3 {
      font-size: 18px;
      font-weight: 900;
    }
  }
  
  .steps {
    width: 60%;
    float: left;
    padding-right: 35px;

    @media ('max-width: 820px') {
      width: 100%;
      padding-right: 0;

      .group {
        margin-left: 0;
      }
    }
    
    .button {
      margin-left: -25px;

      @media ('max-width: 820px') {
        margin-left: 0;
      }
    }
  }
  
  .cart {
    width: 40%;
    float: right;

    @media ('max-width: 820px') {
      width: 100%;
      float: left;
      margin-bottom: 40px;
      transform: none !important; //Don't allow movement when 1 column
    }
    
    .button {
      margin-top: 30px;
    }
  }
}