
/* The Checkout Page
---------------------------------------------------------------------------------------------------- */

#checkout {
  padding: 100px 0;
  
  // Add the fadeinup animation.
  
  animation-name: fadeinup;
  animation-duration: .75s;
  animation-fill-mode: both;
  
  header {
    margin-bottom: 23px;

    h3 {
      font-size: $font__size-lg;
      font-weight: $font__weight-bold;
    }
  }
  
  .steps {
    width: 60%;
    float: left;
    padding-right: 35px;

    //Confirm original was 820px
    @include media(desktop-max) {
      width: 100%;
      padding-right: 0;

      .group {
        margin-left: 0;
      }
    }
    
    .button {
      margin-left: -25px;

      //Confirm original was 820px
      @include media(desktop-max) {
        margin-left: 0;
      }
    }
  }
  
  .cart {
    width: 40%;
    float: right;

    //Confirm original was 820px
    @include media(desktop-max) {
      width: 100%;
      float: left;
      margin-bottom: 40px;
      transform: none !important; //Don't allow movement when 1 column
    }
    
    .button {
      margin-top: 30px;
    }
  }
}